.post{
    transition: 0.2s;
}
.post:hover{
    transform: scale(1.1);
    cursor: pointer;
}

#create-gaian:hover{
    cursor: pointer;
}

#home-page:hover{
    cursor: pointer;
}

#posts-link:hover{
    cursor: pointer;
}
#create-post:hover{
    cursor: pointer;
}

#view-gaians:hover{
    cursor: pointer;
}
